body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.calculator {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.row {
    display: flex;
    gap: 8px;
}

.button {
    height: 10vh;
    aspect-ratio: 1/1;
    border-radius: 20%;
}

.equal {
    background-color: forestgreen;
}

.clear {
    background-color: crimson;
}

.operator {
    background-color: lemonchiffon;
}

.display {
    display: flex;
    background-color: lightblue;
    border-radius: 16px;
    height: 10vh;
    justify-content: end;
    align-items: center;
    font-size: 2rem;
}

.display > p {
    margin-right: 12px;
}